
@{
    ViewBag.Title = "Personal";
}
<h2>Personal Details</h2>
<div>
    <form action="Personal_Destails" method="post">

        <br /> <br />
        <label for="name"><b>Name:</b> FOYSAL </label>
        <br /> <br />

        <label for="fatherName"><b>Father's Name:</b> MOKTER</label>
        <br /><br />

        <label for="motherName"><b>Mother's Name:</b>SHANARA</label>
        <br /><br />

        <label for="gender"><b>Gender:</b> Male</label>
        <br /><br />

        <label for="married"><b>Marital Status:</b> Unmarried</label>
        <br /><br />

        <label for="dob"><b>Date of Birth:</b> 22.01. 200O</label>
        <br /><br />


    </form>
</div>

