
@{
    ViewBag.Title = "Project";
}

<h2>Projects</h2>

<ul>
    <li>
        <b>Java Project - Student Management System:</b>
        <p>
            Implemented a robust student Management System in Java, offering comprehensive features for account handling, transactions, and customer interactions.
        </p>
    </li>

    <li>
        <b>Graphics Project - Manhattan bridge:</b>
        <p>
            Spearheaded the development of the Artemis Program, a graphics project simulating a mission from Earth to the Moon. The program included advanced graphics depicting the rocket launch, with an innovative visualization of population growth during the space journey.
        </p>
    </li>

    <li>
        <b>C# Project:Flat managment system</b>
        <p>
            Designed and implemented a Supershop Management System using C#, focusing on efficient inventory management, sales tracking, and seamless customer interactions.
        </p>
    </li>

    <li>
        <b>WebTech Project - School Management System:</b>
        <p>
            Developed a user-friendly Hotel Management System using Web Technologies. The project emphasized features such as room booking, customer management, and simplified hotel administration.
        </p>
    </li>
</ul>

