
@{
    ViewBag.Title = "Reference";
}
<h2>Reference</h2>

<div>
    <div>
        <b><label for="ref1Name">Reference 1:</label></b>
        <br />
        <label for="ref1Name">Name: SHAIFUL ISLAM</label>
        <br />
        <label for="ref1Email">Email: <a href="mailto:shaifulislam797@gmail.com">shaifulislam797@gmail.com</a></label>
        <br />
        <label for="ref1Contact">Contact: 01712348765</label>
        <br /> <br />
    </div>

    <div>
        <b><label for="ref2Name">Reference 2:</label></b>
        <br />
        <label for="ref2Name">Name : Naeem</label>
        <br />
        <label for="ref2Email">Email: <a href="mailto:naeem@example.com">naeem@gmail.com</a></label>
        <br />
        <label for="ref2Contact">Contact: 01712345678</label>
        <br /> <br />
    </div>
</div>

